<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jc.myapplication">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".state.simple.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".state.simple.Main2Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".command.DrawActivity"
            android:label="@string/title_activity_drag" />
        <activity
            android:name=".observer.ObserverActivity"
            android:label="@string/title_activity_observer" />
        <activity
            android:name=".observer.ObserverActivity2"
            android:label="@string/title_activity_observer2" />
        <activity
            android:name=".strategy.TestActivity"
            android:label="@string/title_activity_strategy" />
        <activity android:name=".observer.LoginControlActivity" />
        <activity android:name=".memento.MementoActivity"></activity>
    </application>

</manifest>